<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{30,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroleft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,71}</string>
                <key>spriteSourceSize</key>
                <string>{31,71}</string>
                <key>textureRect</key>
                <string>{{60,0},{31,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroleft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{91,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroleft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{121,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroleft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,71}</string>
                <key>spriteSourceSize</key>
                <string>{36,71}</string>
                <key>textureRect</key>
                <string>{{151,0},{36,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroleft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{187,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heroleft.png</string>
            <key>size</key>
            <string>{217,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52e43d571d2ba1e8cd5014cdf564dd0d:e9cca8b461cb67dbbae0e3499993a901:a2833dbfd0f06e87d5dceb6c457b4da2$</string>
            <key>textureFileName</key>
            <string>heroleft.png</string>
        </dict>
    </dict>
</plist>
