<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,71}</string>
                <key>spriteSourceSize</key>
                <string>{36,71}</string>
                <key>textureRect</key>
                <string>{{30,0},{36,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroright3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{66,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroright4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{96,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroright5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,71}</string>
                <key>spriteSourceSize</key>
                <string>{31,71}</string>
                <key>textureRect</key>
                <string>{{126,0},{31,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroright6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{157,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroright7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,71}</string>
                <key>spriteSourceSize</key>
                <string>{30,71}</string>
                <key>textureRect</key>
                <string>{{187,0},{30,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heroright.png</string>
            <key>size</key>
            <string>{217,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:931025d33d5f91873b34236a72d5bf4d:60f888dcc7ffcd0493324e15c599867a:b935a0e56ffdea5be507581998862bd6$</string>
            <key>textureFileName</key>
            <string>heroright.png</string>
        </dict>
    </dict>
</plist>
